# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [300]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [301]:
import urllib2
import requests
import bs4
from bs4 import BeautifulSoup

soup = BeautifulSoup(urllib2.urlopen(URL).read())

In [302]:
## YOUR CODE HERE
divs = soup.find_all('div', class_=' row result')

for idx, i in enumerate(divs):
    print '+++++++++++', idx, '\n', i

+++++++++++ 0
<div class=" row result" data-jk="03da19f3a2a1f3d7" data-tn-component="organicJob" id="p_03da19f3a2a1f3d7" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_03da19f3a2a1f3d7">
<a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=03da19f3a2a1f3d7&amp;fccid=f7029f63fe5c906e" itemprop="title" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[0],true,0);" onmousedown="return rclk(this,jobmap[0],0);" rel="nofollow" target="_blank" title="Data Scientist"><b>Data</b> <b>Scientist</b></a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Verizon" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=03da19f3a2a1f3d7&amp;jcid=f7029f63fe5c906e')" target="_blank">
        Verizon</a></span>
</span>

 - <a class="turnstileLink slNoUnderline " data-tn-element="reviewStars" data-tn-variant="cmplinktst2" href="/cmp/Verizon/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Data+Scientist&amp;fromjk=03da19f3a2a1f3d7&amp;jcid=f7029f63fe5c906e');" target="_blank" title="Verizon reviews">
<span class="ratings" style="height: 11px; line-height: 11px; background-image: url(/images/cmp/star_2_sm@2x.png); background-size: 12px 22px;width: 60px;"><span class="rating" style="height: 11px; line-height: 11px; background-image: url(/images/cmp/star_2_sm@2x.png); background-size: 12px 22px;background-position: 0 11px; width: 44.4px;"><!-- --></span></span><span class="slNoUnderline">11,196 reviews</span></a>
 - <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope="" itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality">New York, NY 10010 <span style="font-size: smaller">(Gramercy area)</span></span></span></span>
 <a class="more_loc" href="/jobs?q=data+scientist+%2420%2C000&amp;l=New+York&amp;rbt=Data+Scientist&amp;rbc=Verizon&amp;jtid=1872a3288ede048a&amp;jcid=f7029f63fe5c906e&amp;grp=tcl" onmousedown="ptk('addlloc');" rel="nofollow">+1 location</a><table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="snip">
<div>
<span class="summary" itemprop="description">
You will be responsible for research and discovery to guide the <b>Data</b> Science Team in new areas of opportunity and focus including leveraging Verizon’s big <b>data</b>...</span>
</div>
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="date">5 days ago</span> <span class="tt_set" id="tt_set_0"> - <span class="savelink2" id="savelink2_03da19f3a2a1f3d7"><a class="sl resultLink save-job-link" href="#" id="sj_03da19f3a2a1f3d7" onclick="changeJobState('03da19f3a2a1f3d7', 'save', 'linkbar', false);return false;" title="Save this job to my.indeed">save job</a></span> - <a class="sl resultLink more-link " href="#" id="tog_0" onclick="toggleMoreLinks('03da19f3a2a1f3d7'); return false;">more...</a></span><div class="edit_note_content" id="editsaved2_03da19f3a2a1f3d7" style="display:none;"></div><script>window['result_03da19f3a2a1f3d7'] = {"showSource": false, "source": "Verizon", "loggedIn": false, "showMyJobsLinks": true,"undoAction": "unsave","relativeJobAge": "5 days ago","jobKey": "03da19f3a2a1f3d7", "myIndeedAvailable": true, "tellAFriendEnabled": false, "showMoreActionsLink": true, "resultNumber": 0, "jobStateChangedToSaved": false, "searchState": "q=data scientist $20,000&amp;l=New+York&amp;start=10", "basicPermaLink": "http://www.indeed.com", "saveJobFailed": false, "removeJobFailed": false, "requestPending": false, "notesEnabled": true, "currentPage" : "serp", "sponsored" : false,"reportJobButtonEnabled": false, "showMyJobsHired": false};</script></div></div>
<div class="tab-container">
<div class="more-links-container result-tab" id="tt_display_0" style="display:none;"><a class="close-link closeLink" href="#" onclick="toggleMoreLinks('03da19f3a2a1f3d7'); return false;" title="Close"></a><div class="more_actions" id="more_0"><ul><li><span class="mat">View all <a href="/q-Verizon-l-New-York,-NY-jobs.html" rel="nofollow">Verizon jobs in New York, NY</a> - <a href="/l-New-York,-NY-jobs.html">New York jobs</a></span></li><li><span class="mat">Salary Search: <a href="/salary?q1=Data+Scientist&amp;l1=New+York%2C+NY" onmousedown="this.href = appendParamsOnce(this.href, '');">Data Scientist salaries in New York, NY</a></span></li><li><span class="mat">Learn more about working at <a href="/cmp/Verizon" onmousedown="this.href = appendParamsOnce(this.href, '?fromjk=03da19f3a2a1f3d7&amp;from=serp-more&amp;campaignid=serp-more&amp;jcid=f7029f63fe5c906e');">Verizon</a></span></li><li><span class="mat">Related forums: <a href="/forum/cmp/Verizon.html">Verizon</a> - <a href="/forum/loc/New-York-New-York.html">New York, New York</a></span></li></ul></div></div><div class="dya-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
<div class="sign-in-container result-tab"></div>
<div class="notes-container result-tab"></div>
</div>
</td>
</tr>
</table>
</div>
+++++++++++ 1
<div class=" row result" data-jk="c4b7d85073f2d273" data-tn-component="organicJob" id="p_c4b7d85073f2d273" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_c4b7d85073f2d273">
<a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=c4b7d85073f2d273&amp;fccid=1d8e31f3f2dffe07" itemprop="title" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[1],true,0);" onmousedown="return rclk(this,jobmap[1],0);" rel="nofollow" target="_blank" title="Data Scientist"><b>Data</b> <b>Scientist</b></a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
    DataKind</span>
</span>

 - <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope="" itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality">New York, NY</span></span></span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="snip">
<div>
<span class="summary" itemprop="description">
A mid-career <b>data</b> <b>scientist</b> - You have a successful track record leading and executing a broad range of <b>data</b> science projects spanning the entire project...</span>
</div>
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="result-link-source">Omidyar Networks </span>- <span class="date">4 days ago</span> <span class="tt_set" id="tt_set_1"> - <span class="savelink2" id="savelink2_c4b7d85073f2d273"><a class="sl resultLink save-job-link" href="#" id="sj_c4b7d85073f2d273" onclick="changeJobState('c4b7d85073f2d273', 'save', 'linkbar', false);return false;" title="Save this job to my.indeed">save job</a></span> - <a class="sl resultLink more-link " href="#" id="tog_1" onclick="toggleMoreLinks('c4b7d85073f2d273'); return false;">more...</a></span><div class="edit_note_content" id="editsaved2_c4b7d85073f2d273" style="display:none;"></div><script>window['result_c4b7d85073f2d273'] = {"showSource": true, "source": "Omidyar Networks", "loggedIn": false, "showMyJobsLinks": true,"undoAction": "unsave","relativeJobAge": "4 days ago","jobKey": "c4b7d85073f2d273", "myIndeedAvailable": true, "tellAFriendEnabled": false, "showMoreActionsLink": true, "resultNumber": 1, "jobStateChangedToSaved": false, "searchState": "q=data scientist $20,000&amp;l=New+York&amp;start=10", "basicPermaLink": "http://www.indeed.com", "saveJobFailed": false, "removeJobFailed": false, "requestPending": false, "notesEnabled": true, "currentPage" : "serp", "sponsored" : false,"reportJobButtonEnabled": false, "showMyJobsHired": false};</script></div></div>
<div class="tab-container">
<div class="more-links-container result-tab" id="tt_display_1" style="display:none;"><a class="close-link closeLink" href="#" onclick="toggleMoreLinks('c4b7d85073f2d273'); return false;" title="Close"></a><div class="more_actions" id="more_1"><ul><li><span class="mat">View all <a href="/q-Datakind-l-New-York,-NY-jobs.html" rel="nofollow">DataKind jobs in New York, NY</a> - <a href="/l-New-York,-NY-jobs.html">New York jobs</a></span></li><li><span class="mat">Salary Search: <a href="/salary?q1=Data+Scientist&amp;l1=New+York%2C+NY" onmousedown="this.href = appendParamsOnce(this.href, '');">Data Scientist salaries in New York, NY</a></span></li><li><span class="mat">Related forums: <a href="/forum/cmp/Datakind.html">DataKind</a> - <a href="/forum/loc/New-York-New-York.html">New York, New York</a></span></li></ul></div></div><div class="dya-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
<div class="sign-in-container result-tab"></div>
<div class="notes-container result-tab"></div>
</div>
</td>
</tr>
</table>
</div>
+++++++++++ 2
<div class=" row result" data-jk="a64c5e5d843a9977" data-tn-component="organicJob" id="p_a64c5e5d843a9977" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_a64c5e5d843a9977">
<a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=a64c5e5d843a9977&amp;fccid=b393ad8be88fd16e" itemprop="title" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[2],true,0);" onmousedown="return rclk(this,jobmap[2],0);" rel="nofollow" target="_blank" title="Chief Data Scientist">Chief <b>Data</b> <b>Scientist</b></a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
    Medivo Inc.</span>
</span>

 - <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope="" itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality">New York, NY 10004 <span style="font-size: smaller">(Financial District area)</span></span></span></span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="snip">
<div>
<span class="summary" itemprop="description">
Medivo is looking for a Chief <b>Data</b> <b>Scientist</b> who can lead growing onshore and offshore teams. Experience in recruiting, managing, training, and retaining a team...</span>
</div>
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="date">6 days ago</span> <span class="tt_set" id="tt_set_2"> - <span class="savelink2" id="savelink2_a64c5e5d843a9977"><a class="sl resultLink save-job-link" href="#" id="sj_a64c5e5d843a9977" onclick="changeJobState('a64c5e5d843a9977', 'save', 'linkbar', false);return false;" title="Save this job to my.indeed">save job</a></span> - <a class="sl resultLink more-link " href="#" id="tog_2" onclick="toggleMoreLinks('a64c5e5d843a9977'); return false;">more...</a></span><div class="edit_note_content" id="editsaved2_a64c5e5d843a9977" style="display:none;"></div><script>window['result_a64c5e5d843a9977'] = {"showSource": false, "source": "Medivo Inc.", "loggedIn": false, "showMyJobsLinks": true,"undoAction": "unsave","relativeJobAge": "6 days ago","jobKey": "a64c5e5d843a9977", "myIndeedAvailable": true, "tellAFriendEnabled": false, "showMoreActionsLink": true, "resultNumber": 2, "jobStateChangedToSaved": false, "searchState": "q=data scientist $20,000&amp;l=New+York&amp;start=10", "basicPermaLink": "http://www.indeed.com", "saveJobFailed": false, "removeJobFailed": false, "requestPending": false, "notesEnabled": true, "currentPage" : "serp", "sponsored" : false,"reportJobButtonEnabled": false, "showMyJobsHired": false};</script></div></div>
<div class="tab-container">
<div class="more-links-container result-tab" id="tt_display_2" style="display:none;"><a class="close-link closeLink" href="#" onclick="toggleMoreLinks('a64c5e5d843a9977'); return false;" title="Close"></a><div class="more_actions" id="more_2"><ul><li><span class="mat">View all <a href="/jobs?q=Medivo+Inc&amp;l=New+York,+NY&amp;nc=jasx" rel="nofollow">Medivo Inc. jobs in New York, NY</a> - <a href="/l-New-York,-NY-jobs.html">New York jobs</a></span></li><li><span class="mat">Salary Search: <a href="/salary?q1=Chief+Data+Scientist&amp;l1=New+York%2C+NY" onmousedown="this.href = appendParamsOnce(this.href, '');">Chief Data Scientist salaries in New York, NY</a></span></li><li><span class="mat">Related forums:  - <a href="/forum/loc/New-York-New-York.html">New York, New York</a></span></li></ul></div></div><div class="dya-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
<div class="sign-in-container result-tab"></div>
<div class="notes-container result-tab"></div>
</div>
</td>
</tr>
</table>
</div>
+++++++++++ 3
<div class=" row result" data-jk="c7b7cdbaa69831d9" data-tn-component="organicJob" id="p_c7b7cdbaa69831d9" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_c7b7cdbaa69831d9">
<a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=c7b7cdbaa69831d9&amp;fccid=9044e8bd254c73d6" itemprop="title" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[3],true,0);" onmousedown="return rclk(this,jobmap[3],0);" rel="nofollow" target="_blank" title="Security Data Scientist">Security <b>Data</b> <b>Scientist</b></a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
    Rockstar New York</span>
</span>

 - <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope="" itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality">New York, NY</span></span></span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="snip">
<div>
<span class="summary" itemprop="description">
The successful candidate will both define <b>data</b> which should be captured in future states and analyze existing <b>data</b> in order to isolate patterns of bad activity....</span>
</div>
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="date">1 day ago</span> <span class="tt_set" id="tt_set_3"> - <span class="savelink2" id="savelink2_c7b7cdbaa69831d9"><a class="sl resultLink save-job-link" href="#" id="sj_c7b7cdbaa69831d9" onclick="changeJobState('c7b7cdbaa69831d9', 'save', 'linkbar', false);return false;" title="Save this job to my.indeed">save job</a></span> - <a class="sl resultLink more-link " href="#" id="tog_3" onclick="toggleMoreLinks('c7b7cdbaa69831d9'); return false;">more...</a></span><div class="edit_note_content" id="editsaved2_c7b7cdbaa69831d9" style="display:none;"></div><script>window['result_c7b7cdbaa69831d9'] = {"showSource": false, "source": "Rockstar New York", "loggedIn": false, "showMyJobsLinks": true,"undoAction": "unsave","relativeJobAge": "1 day ago","jobKey": "c7b7cdbaa69831d9", "myIndeedAvailable": true, "tellAFriendEnabled": false, "showMoreActionsLink": true, "resultNumber": 3, "jobStateChangedToSaved": false, "searchState": "q=data scientist $20,000&amp;l=New+York&amp;start=10", "basicPermaLink": "http://www.indeed.com", "saveJobFailed": false, "removeJobFailed": false, "requestPending": false, "notesEnabled": true, "currentPage" : "serp", "sponsored" : false,"reportJobButtonEnabled": false, "showMyJobsHired": false};</script></div></div>
<div class="tab-container">
<div class="more-links-container result-tab" id="tt_display_3" style="display:none;"><a class="close-link closeLink" href="#" onclick="toggleMoreLinks('c7b7cdbaa69831d9'); return false;" title="Close"></a><div class="more_actions" id="more_3"><ul><li><span class="mat">View all <a href="/q-Rockstar-New-York-l-New-York,-NY-jobs.html" rel="nofollow">Rockstar New York jobs in New York, NY</a> - <a href="/l-New-York,-NY-jobs.html">New York jobs</a></span></li><li><span class="mat">Salary Search: <a href="/salary?q1=Security+Data+Scientist&amp;l1=New+York%2C+NY" onmousedown="this.href = appendParamsOnce(this.href, '');">Security Data Scientist salaries in New York, NY</a></span></li><li><span class="mat">Related forums: <a href="/forum/cmp/Rockstar-New-York.html">Rockstar New York</a> - <a href="/forum/loc/New-York-New-York.html">New York, New York</a></span></li></ul></div></div><div class="dya-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
<div class="sign-in-container result-tab"></div>
<div class="notes-container result-tab"></div>
</div>
</td>
</tr>
</table>
</div>
+++++++++++ 4
<div class=" row result" data-jk="b911e44d901700f2" data-tn-component="organicJob" id="p_b911e44d901700f2" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_b911e44d901700f2">
<a class="turnstileLink" data-tn-element="jobTitle" href="/rc/clk?jk=b911e44d901700f2&amp;fccid=309f5dd3a87072dc" itemprop="title" onclick="setRefineByCookie(['salest']); return rclk(this,jobmap[4],true,0);" onmousedown="return rclk(this,jobmap[4],0);" rel="nofollow" target="_blank" title="Data Scientist"><b>Data</b> <b>Scientist</b></a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
    Cognical, Inc.</span>
</span>

 - <span itemprop="jobLocation" itemscope="" itemtype="http://schema.org/Place"><span class="location" itemprop="address" itemscope="" itemtype="http://schema.org/Postaladdress"><span itemprop="addressLocality">New York, NY 10001 <span style="font-size: smaller">(Chelsea area)</span></span></span></span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="snip">
<div>
<span class="summary" itemprop="description">
Minimum of 5 years of work experience as a <b>Data</b> <b>Scientist</b>. We are currently looking for a talented, creative and experienced <b>Data</b> <b>Scientist</b> to help us build our...</span>
</div>
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="date">5 days ago</span> <span class="tt_set" id="tt_set_4"> - <span class="savelink2" id="savelink2_b911e44d901700f2"><a class="sl resultLink save-job-link" href="#" id="sj_b911e44d901700f2" onclick="changeJobState('b911e44d901700f2', 'save', 'linkbar', false);return false;" title="Save this job to my.indeed">save job</a></span> - <a class="sl resultLink more-link " href="#" id="tog_4" onclick="toggleMoreLinks('b911e44d901700f2'); return false;">more...</a></span><div class="edit_note_content" id="editsaved2_b911e44d901700f2" style="display:none;"></div><script>window['result_b911e44d901700f2'] = {"showSource": false, "source": "Cognical, Inc.", "loggedIn": false, "showMyJobsLinks": true,"undoAction": "unsave","relativeJobAge": "5 days ago","jobKey": "b911e44d901700f2", "myIndeedAvailable": true, "tellAFriendEnabled": false, "showMoreActionsLink": true, "resultNumber": 4, "jobStateChangedToSaved": false, "searchState": "q=data scientist $20,000&amp;l=New+York&amp;start=10", "basicPermaLink": "http://www.indeed.com", "saveJobFailed": false, "removeJobFailed": false, "requestPending": false, "notesEnabled": true, "currentPage" : "serp", "sponsored" : false,"reportJobButtonEnabled": false, "showMyJobsHired": false};</script></div></div>
<div class="tab-container">

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- **Make sure these functions are robust and can handle cases where the data/field may not be available.**
    - Remember to check if a field is empty or `None` for attempting to call methods on it
    - Remember to use `try/except` if you anticipate errors
- **Test** the functions on the results above and simple examples

In [303]:
import re
## YOUR CODE HERE
def extract_loc(result):
    dicty = {}
    for idx, div in enumerate(result):
        for idx2, j in enumerate(div.find_all('span', class_='location')):
            dicty[idx2] = j.text
    return dicty

def extract_comp(result):
    dicty = {}
    for idx, div in enumerate(result):
        for idx2, j in enumerate(div.find_all('span', class_='company')):
            dicty[idx2] = j.text
    return dicty
        
def extract_job(result):
    dicty = {}
    for idx, div in enumerate(result):
        for idx2, h in enumerate(div.find_all('h2')):
            dicty[idx2] = h.text
    return dicty

def extract_sal(result):
    dicty = {}
    for idx, div in enumerate(result):
        for idx2, i in enumerate(div.find_all('td', class_='snip')):
            for idx3, j in enumerate(i.find_all('nobr')):
                dicty[idx2] = j.text
    return dicty

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [304]:
YOUR_CITY = 'Seattle'

In [305]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 500 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

results = []

for city in ['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami']:
    for start in range(0, max_results_per_city, 10):
        url_ = 'http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l='+city+'&start='+str(start)
        soupy = (BeautifulSoup(urllib2.urlopen(url_).read()))
        results.append(soupy.find_all('div', class_=' row result'))

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [540]:
import pandas as pd

In [829]:
listy = []
for i in results:
    listy.append(extract_loc(i))
df = pd.DataFrame(listy)

In [830]:
listy = []
for i in results:
    listy.append(extract_job(i))
df['job'] = pd.DataFrame(listy)

In [831]:
listy = []
for i in results:
    listy.append(extract_sal(i))
df['sal'] = pd.DataFrame(listy)

In [832]:
listy = []
for i in results:
    listy.append(extract_comp(i))
df['comp'] = pd.DataFrame(listy)
df.head()

,0,job,sal,comp
0,"New York, NY",\nChief Data Scientist\n,NaN,"\n\n Knotch, Inc.\n"
1,"New York, NY","\nJunior Data Scientist, Data & Statistics - D...",NaN,\n\n\n Federal Reserve Bank of New York\n
2,"New York, NY 10029 (Yorkville area)",\nData Scientist - Scientific Computing\n,NaN,\n\n\n Mount Sinai Health System\n
3,"New York, NY",\nData Scientist\n,$90 an hour,\n\n Countr\n
4,"New York, NY",\nLoyalty - Research Analyst (Entry-Level)\n,NaN,\n\n\n Ipsos North America\n

In [833]:
df.columns = ['city', 'job', 'salary', 'company']

In [834]:
no_sal = df[df['salary'].isnull()]
no_sal.head()

,city,job,salary,company
0,"New York, NY",\nChief Data Scientist\n,NaN,"\n\n Knotch, Inc.\n"
1,"New York, NY","\nJunior Data Scientist, Data & Statistics - D...",NaN,\n\n\n Federal Reserve Bank of New York\n
2,"New York, NY 10029 (Yorkville area)",\nData Scientist - Scientific Computing\n,NaN,\n\n\n Mount Sinai Health System\n
4,"New York, NY",\nLoyalty - Research Analyst (Entry-Level)\n,NaN,\n\n\n Ipsos North America\n
5,"Jersey City, NJ",\nData Scientist\n,NaN,\n\n SITO Mobile\n

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [835]:
## YOUR CODE HERE
df.dropna(how='any', axis=0, inplace=True)
df.drop_duplicates(inplace=True)
print df.shape
df.head()

(169, 4)

,city,job,salary,company
3,"New York, NY",\nData Scientist\n,$90 an hour,\n\n Countr\n
6,"New York, NY 10029 (Yorkville area)",\nASSOCIATE RESEARCHER I\n,"$120,000 a year",\n\n\n Mount Sinai Health System\n
7,"New York, NY","\nCross Asset Quantitative Strategist, Analyst...","$120,000 - $150,000 a year",\n\n\n Goldman Sachs\n
8,"New York, NY",\nData Scientist / Lead Quantitative Analyst\n,"$150,000 - $200,000 a year",\n\n\n Guidepoint Global\n
10,"New York, NY",\nQuantitative Researcher in Machine Learning\n,"$110,000 - $275,000 a year","\n\n Two Sigma Investments, LLC.\n"

In [836]:
listy = []
for i in df['job']:
    listy.append(str(i.encode('ascii', 'ignore')).split())
dicty = {}
for idx, i in enumerate(listy):
    for j in i:
        if '\\n' in j:
            continue
        elif idx not in dicty:
            dicty[idx] = str(j.encode('ascii', 'ignore'))
        else:
            dicty[idx] += ' ' + str(j)
listyy = []
for i in range(len(dicty)):
    listyy.append(dicty[i])
df['job'] = listyy
df.head()

,city,job,salary,company
3,"New York, NY",Data Scientist,$90 an hour,\n\n Countr\n
6,"New York, NY 10029 (Yorkville area)",ASSOCIATE RESEARCHER I,"$120,000 a year",\n\n\n Mount Sinai Health System\n
7,"New York, NY","Cross Asset Quantitative Strategist, Analyst/A...","$120,000 - $150,000 a year",\n\n\n Goldman Sachs\n
8,"New York, NY",Data Scientist / Lead Quantitative Analyst,"$150,000 - $200,000 a year",\n\n\n Guidepoint Global\n
10,"New York, NY",Quantitative Researcher in Machine Learning,"$110,000 - $275,000 a year","\n\n Two Sigma Investments, LLC.\n"

In [837]:
listy = []
for i in df['company']:
    listy.append(str(i).split())
dicty = {}
for idx, i in enumerate(listy):
    for j in i:
        if '\\n' in j:
            continue
        elif idx not in dicty:
            dicty[idx] = str(j)
        else:
            dicty[idx] += ' ' + str(j)
listyy = []
for i in range(len(dicty)):
    listyy.append(dicty[i])
df['company'] = listyy
df.head()

,city,job,salary,company
3,"New York, NY",Data Scientist,$90 an hour,Countr
6,"New York, NY 10029 (Yorkville area)",ASSOCIATE RESEARCHER I,"$120,000 a year",Mount Sinai Health System
7,"New York, NY","Cross Asset Quantitative Strategist, Analyst/A...","$120,000 - $150,000 a year",Goldman Sachs
8,"New York, NY",Data Scientist / Lead Quantitative Analyst,"$150,000 - $200,000 a year",Guidepoint Global
10,"New York, NY",Quantitative Researcher in Machine Learning,"$110,000 - $275,000 a year","Two Sigma Investments, LLC."

In [838]:
listy = []
for i in df['city']:
    listy.append(str(i).split(',')[0])
df['city'] = listy
df.head()

,city,job,salary,company
3,New York,Data Scientist,$90 an hour,Countr
6,New York,ASSOCIATE RESEARCHER I,"$120,000 a year",Mount Sinai Health System
7,New York,"Cross Asset Quantitative Strategist, Analyst/A...","$120,000 - $150,000 a year",Goldman Sachs
8,New York,Data Scientist / Lead Quantitative Analyst,"$150,000 - $200,000 a year",Guidepoint Global
10,New York,Quantitative Researcher in Machine Learning,"$110,000 - $275,000 a year","Two Sigma Investments, LLC."

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [839]:
## YOUR CODE HERE
listy = []
for i in df['salary']:
    listy.append(str(i).replace('$', '').replace(',', '').replace('-', '').replace(' a year', '')
                .replace('a week', '').replace('a month', '').replace('an hour', ''))

listy = [i.split() for i in listy]
num_list = []
for idx, i in enumerate(listy):
    for j in i:
        num_list += [(idx, float(j))]
num_list
        
dicty = {}
for j, k in num_list:
    if j not in dicty:
        dicty[j] = k
    else:
        dicty[j] += k
        dicty[j] /= 2
dicty
for i in dicty:
    if dicty[i] < 100:
        dicty[i] *= 2080
    elif dicty[i] < 3000:
        dicty[i] *= 52
    elif dicty[i] < 10000:
        dicty[i] *= 12
sals = []
for i in range(len(dicty)):
    sals.append(dicty[i])

In [840]:
df['salary'] = sals
df.head()

,city,job,salary,company
3,New York,Data Scientist,187200.0,Countr
6,New York,ASSOCIATE RESEARCHER I,120000.0,Mount Sinai Health System
7,New York,"Cross Asset Quantitative Strategist, Analyst/A...",135000.0,Goldman Sachs
8,New York,Data Scientist / Lead Quantitative Analyst,175000.0,Guidepoint Global
10,New York,Quantitative Researcher in Machine Learning,192500.0,"Two Sigma Investments, LLC."

### Save your results as a CSV

In [841]:
## YOUR CODE HERE
df.to_csv('Salary_Data2')

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [842]:
## YOUR CODE HERE
## But they're already here :(

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't have to choice the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [843]:
df.head()

,city,job,salary,company
3,New York,Data Scientist,187200.0,Countr
6,New York,ASSOCIATE RESEARCHER I,120000.0,Mount Sinai Health System
7,New York,"Cross Asset Quantitative Strategist, Analyst/A...",135000.0,Goldman Sachs
8,New York,Data Scientist / Lead Quantitative Analyst,175000.0,Guidepoint Global
10,New York,Quantitative Researcher in Machine Learning,192500.0,"Two Sigma Investments, LLC."

In [844]:
## YOUR CODE HERE
import numpy as np
frst_q = df['salary'].quantile(.25)
med = np.median(df['salary'])
thrd_q = df['salary'].quantile(.75)
highness = []
for i in df['salary']:
    if i < frst_q:
        highness.append('very_low')
    elif i < med:
        highness.append('low')
    elif i < thrd_q:
        highness.append('high')
    else:
        highness.append('very_high')
df['highness'] = highness
df.head()

listy = []
for i in df['salary']:
    if i < med:
        listy.append(1)
    else:
        listy.append(0)
df['is_high'] = listy

#### Thought experiment: What is the baseline accuracy for this model?

In [851]:
## YOUR CODE HERE
# The baseline for this model would be the most frequent observation for all outcomes:
print df['highness'].value_counts(), '\n'
print 'The baseline accuracy is', 44.0 / 169

low          44
very_high    43
high         42
very_low     40
Name: highness, dtype: int64

The baseline accuracy is 0.260355029586

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [852]:
import statsmodels.formula.api as sm
model = sm.logit(
    "is_high ~ city",
    data = df
).fit()

model.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 1.444789
         Iterations: 35

//anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                is_high   No. Observations:                  169
Model:                          Logit   Df Residuals:                      110
Method:                           MLE   Df Model:                           58
Date:                Sun, 30 Oct 2016   Pseudo R-squ.:                  -1.084
Time:                        16:38:40   Log-Likelihood:                -244.17
converged:                      False   LL-Null:                       -117.14
                                        LLR p-value:                     1.000
=================================================================================================
                                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------------------
Intercept                        -4.7035     10.599     -0.444      0.657       -25.477    16.070
city[T.Alpharetta]                5.7746     10.722      0.539      0.590       -15.241    26.790
city[T.Atlanta]                   4.2980     10.638      0.404      0.686       -16.553    25.149
city[T.Aurora]                    4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Austin]                    4.8858     10.616      0.460      0.645       -15.922    25.693
city[T.Aventura]                  2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Bellevue]                -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Berkeley]                -41.4588   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Boulder]                   4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Brea]                      2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Brisbane]                -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Canoga Park]             -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Chicago]                   3.7480     10.612      0.353      0.724       -17.051    24.547
city[T.Coppell]                   2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Coral Gables]              2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Dallas]                    5.7746     10.722      0.539      0.590       -15.241    26.790
city[T.Dania Beach]               2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Denver]                    4.0103     10.670      0.376      0.707       -16.902    24.922
city[T.Downers Grove]           -41.4588   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Duarte]                    2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.El Segundo]                4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Emeryville]                2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Englewood]               -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Fort Lauderdale]           5.3966     10.670      0.506      0.613       -15.515    26.309
city[T.Hinsdale]                  2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Houston]                   4.7035     10.630      0.442      0.658       -16.132    25.539
city[T.Huntington Beach]          2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Irving]                    4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Kennesaw]                  2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Los Angeles]               4.7035     10.618      0.443      0.658       -16.107    25.514
city[T.Malvern]                 -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Manhattan]               -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Miami]                     5.7746     10.722      0.539      0.590       -15.241    26.790
city[T.Miramar]                   2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.New York]                  3.1994     10.613      0.301      0.763       -17.603    24.001
city[T.Newtown Square]            2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Norcross]                  2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.North Wales]             -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Northbrook]                4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Pearland]                  2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Philadelphia]              5.3966     10.634      0.507      0.612       -15.446    26.240
city[T.Phoenix]                   5.8021     10.662      0.544      0.586       -15.095    26.699
city[T.Pittsburgh]              -34.8664   2.26e+08  -1.54e-07      1.000     -4.43e+08  4.43e+08
city[T.Plano]                     2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.Portland]                  5.7746     10.722      0.539      0.590       -15.241    26.790
city[T.Rahway]                  -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Redmond]                   4.7035     10.693      0.440      0.660       -16.254    25.661
city[T.Redwood City]            -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.San Bruno]               -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.San Francisco]             4.0103     10.634      0.377      0.706       -16.833    24.853
city[T.Seattle]                   5.2913     10.614      0.499      0.618       -15.511    26.094
city[T.Smyrna]                    2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.South San Francisco]     -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Spring House]            -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.Tempe]                     5.7746     10.722      0.539      0.590       -15.241    26.790
city[T.Township of Cranberry]     2.3771     11.166      0.213      0.831       -19.508    24.262
city[T.West Chester]            -41.4587   1.06e+10  -3.92e-09      1.000     -2.07e+10  2.07e+10
city[T.West Point]             -413.9258   5.67e+90   -7.3e-89      1.000     -1.11e+91  1.11e+91
city[T.Westminster]               2.3771     11.166      0.213      0.831       -19.508    24.262
=================================================================================================
"""

The coefficients are essentially the weight that the model is giving to each variable.  Technically, the coefficients are the log of the odds that, when combined with the intercept, can give the formula for the probability of the salary being high or not for the particular city.  The odds ratio derived from the coefficient can also tell you the multiplicative increase or decrease in odds of the salary being high or low in each city.

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [853]:
## YOUR CODE HERE
def new_var(word):    
    sen = []
    for i in df['job']:
        if word in i.lower():
            sen.append(1)
        else:
            sen.append(0)
    df[word] = sen

words = ['manager', 'senior', 'research', 'machine',
         'python', 'developer', 'analyst', 'scientist']
for i in words:
    new_var(i)

In [854]:
model = sm.logit(
    "is_high ~ city + senior + manager + research + machine + python + developer + analyst + scientist",
    data = df
).fit()

model.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.406682
         Iterations: 35

//anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                is_high   No. Observations:                  169
Model:                          Logit   Df Residuals:                      103
Method:                           MLE   Df Model:                           65
Date:                Sun, 30 Oct 2016   Pseudo R-squ.:                  0.4133
Time:                        16:38:48   Log-Likelihood:                -68.729
converged:                      False   LL-Null:                       -117.14
                                        LLR p-value:                  0.006397
=================================================================================================
                                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------------------
Intercept                        18.6341   1.11e+04      0.002      0.999     -2.18e+04  2.18e+04
city[T.Alpharetta]                3.9680   3.84e+04      0.000      1.000     -7.53e+04  7.53e+04
city[T.Atlanta]                 -18.9615   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Aurora]                  -18.7223   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Austin]                  -17.7919   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Aventura]                  4.0278   4.85e+04    8.3e-05      1.000     -9.51e+04  9.51e+04
city[T.Bellevue]                -39.3276   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Berkeley]                -39.3276   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Boulder]                 -18.6341   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Brea]                      1.7746   4.85e+04   3.66e-05      1.000     -9.51e+04  9.51e+04
city[T.Brisbane]                -38.9021   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Canoga Park]             -38.8618   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Chicago]                 -19.4327   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Coppell]                   2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.Coral Gables]              2.2490   4.85e+04   4.64e-05      1.000     -9.51e+04  9.51e+04
city[T.Dallas]                    2.4413   2.79e+04   8.76e-05      1.000     -5.46e+04  5.47e+04
city[T.Dania Beach]               2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.Denver]                  -18.5138   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Downers Grove]           -38.9986   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Duarte]                    4.3375   4.85e+04   8.94e-05      1.000     -9.51e+04  9.51e+04
city[T.El Segundo]              -18.6341   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Emeryville]                3.3575   4.85e+04   6.92e-05      1.000     -9.51e+04  9.51e+04
city[T.Englewood]               -39.1661   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Fort Lauderdale]         -17.7780   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Hinsdale]                  3.3575   4.85e+04   6.92e-05      1.000     -9.51e+04  9.51e+04
city[T.Houston]                 -18.3252   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Huntington Beach]          2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.Irving]                  -18.3203   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Kennesaw]                  3.0531   4.85e+04   6.29e-05      1.000     -9.51e+04  9.51e+04
city[T.Los Angeles]             -18.5264   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Malvern]                 -38.8618   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Manhattan]               -19.3438   1.91e+12  -1.01e-11      1.000     -3.75e+12  3.75e+12
city[T.Miami]                     2.3248   2.75e+04   8.45e-05      1.000     -5.39e+04  5.39e+04
city[T.Miramar]                   2.4106   4.85e+04   4.97e-05      1.000     -9.51e+04  9.51e+04
city[T.New York]                -20.1017   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Newtown Square]            3.3575   4.85e+04   6.92e-05      1.000     -9.51e+04  9.51e+04
city[T.Norcross]                  2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.North Wales]             -39.3276   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Northbrook]              -18.5533   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Pearland]                  2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.Philadelphia]            -17.7356   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Phoenix]                 -17.1889   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Pittsburgh]               16.7130   2.54e+07   6.59e-07      1.000     -4.97e+07  4.97e+07
city[T.Plano]                     2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.Portland]                  2.4413   2.79e+04   8.76e-05      1.000     -5.46e+04  5.47e+04
city[T.Rahway]                  -38.8618   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Redmond]                 -17.8127   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Redwood City]            -38.8617   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.San Bruno]               -39.1661   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.San Francisco]           -19.1033   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Seattle]                 -18.0321   1.11e+04     -0.002      0.999     -2.18e+04  2.18e+04
city[T.Smyrna]                    2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.South San Francisco]     -38.8618   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Spring House]            -39.5039   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.Tempe]                     2.4413   2.79e+04   8.76e-05      1.000     -5.46e+04  5.47e+04
city[T.Township of Cranberry]     2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
city[T.West Chester]            -38.8618   3.31e+04     -0.001      0.999     -6.49e+04  6.48e+04
city[T.West Point]              -39.8600   3.38e+04     -0.001      0.999     -6.62e+04  6.61e+04
city[T.Westminster]               2.8914   4.85e+04   5.96e-05      1.000     -9.51e+04  9.51e+04
senior                           -1.4461      0.739     -1.957      0.050        -2.894     0.002
manager                           1.1169      0.988      1.130      0.258        -0.820     3.054
research                          0.6424      0.625      1.027      0.304        -0.583     1.868
machine                           0.0404      0.981      0.041      0.967        -1.882     1.963
python                          -19.3438   1.91e+12  -1.01e-11      1.000     -3.75e+12  3.75e+12
developer                        -1.1768      1.373     -0.857      0.391        -3.868     1.514
analyst                          -0.1616      0.688     -0.235      0.814        -1.510     1.187
scientist                        -0.4660      0.550     -0.847      0.397        -1.545     0.613
=================================================================================================
"""

The new variables did appear to help to a certain extent, which can be seen in the higher pseudo R^2 score.  Also, the lower p-values for some of the new variables, together with their coefficients, indicate that they may be better predictor for salary.  This is particularly true for senior, developer, and scientist.

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [855]:
## YOUR CODE HERE
import patsy
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.grid_search import GridSearchCV


X = patsy.dmatrix('~ C(city) + C(manager) + C(senior) + C(research) + C(machine) + C(python) + C(developer) + C(analyst) + C(scientist)', df)
y = df['highness']

In [856]:
logreg = LogisticRegression()
C_vals = [0.0001, 0.001, 0.01, 0.1, 0.5, 0.75, 1.0, 2.5, 5.0, 10.0, 100.0, 1000.0]
penalties = ['l1','l2']

gs = GridSearchCV(logreg, {'penalty':penalties, 'C':C_vals}, verbose=True, cv=5, scoring='f1_macro')
gs.fit(X, y)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=1)]: Done 120 out of 120 | elapsed:    1.0s finished

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'penalty': ['l1', 'l2'], 'C': [0.0001, 0.001, 0.01, 0.1, 0.5, 0.75, 1.0, 2.5, 5.0, 10.0, 100.0, 1000.0]},
       pre_dispatch='2*n_jobs', refit=True, scoring='f1_macro',
       verbose=True)

In [857]:
gs.best_params_

{'C': 1.0, 'penalty': 'l2'}

In [858]:
logreg = LogisticRegression(C=1.0, penalty='l2', solver='liblinear')
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [859]:
## YOUR CODE HERE
from sklearn.model_selection import cross_val_score
cross_val_score(logreg, X, y)

array([ 0.24137931,  0.21428571,  0.2       ])

In [860]:
y_pred = logreg.predict(X)
print(classification_report(y, y_pred))
print pd.DataFrame(confusion_matrix(y, y_pred), index=['is_very_low','is_low', 'is_high', 'is_very_high'],
                   columns=['pred_very_low','pred_low', 'pred_high', 'pred_very_high'])

             precision    recall  f1-score   support

       high       0.69      0.64      0.67        42
        low       0.65      0.59      0.62        44
  very_high       0.74      0.72      0.73        43
   very_low       0.58      0.70      0.64        40

avg / total       0.67      0.66      0.66       169

              pred_very_low  pred_low  pred_high  pred_very_high
is_very_low              27         5          3               7
is_low                    4        26          6               8
is_high                   2         5         31               5
is_very_high              6         4          2              28

In [861]:
print 'coefficients:', logreg.coef_

coefficients: [[ -5.25684482e-01  -3.83787316e-01   4.27261873e-01   3.91867510e-01
    1.81174527e-01  -1.00797502e-01  -2.19157848e-01   6.08848742e-01
    3.40972552e-01  -1.37485589e-01  -1.00614814e-01   6.09558934e-01
    1.18529770e+00  -2.19157848e-01  -1.72421771e-01  -3.36010181e-01
   -2.19157848e-01   8.89927730e-01  -1.43522358e-01  -2.27436709e-01
   -3.84404718e-01  -2.18622322e-01   6.93712707e-01   1.40369745e-01
   -2.18622322e-01   3.81295096e-01  -2.19157848e-01   4.07465017e-01
   -1.58446145e-01   9.66498604e-01   6.09558934e-01  -9.33845107e-02
   -3.84404718e-01  -1.21571146e-01  -3.43278602e-01  -2.18622322e-01
   -2.19157848e-01   6.08848742e-01  -3.36010181e-01  -2.19157848e-01
    2.81390265e-01  -5.27244857e-01  -5.16874398e-01  -2.19157848e-01
   -3.36010181e-01  -2.18622322e-01  -3.83787316e-01  -2.18622322e-01
   -1.58446145e-01  -2.65820380e-01  -3.18992199e-01  -2.19157848e-01
   -2.18622322e-01  -1.71964711e-01  -3.36010181e-01  -2.19157848e-01
    6.09558934e-01   3.41543393e-01  -2.19157848e-01  -6.47464677e-01
    5.59625621e-02  -3.44691991e-01  -1.03494637e+00  -9.33845107e-02
   -1.48241985e-03  -4.60028767e-01  -3.71795868e-03]
 [ -4.21687770e-01   9.68947526e-01   2.88082645e-01  -4.59528451e-01
    6.11777261e-01   3.81848380e-01  -2.50807993e-01  -2.50807993e-01
   -4.35483957e-01   5.65637111e-01  -2.62901239e-01  -1.79798237e-01
   -8.03710860e-01   5.68318547e-01  -3.43062211e-01   2.97742193e-01
   -2.50807993e-01   2.15918156e-01  -1.48068850e-01  -1.46542112e-01
   -4.35483957e-01  -1.79798237e-01  -2.29480481e-01  -5.35532369e-01
    6.62612818e-01   6.65448823e-01  -2.50807993e-01  -3.61541357e-01
    5.95367818e-01  -3.70661773e-01  -1.79798237e-01  -2.96136095e-01
    2.76219317e-01  -3.18014698e-01  -7.34234714e-01   6.62612818e-01
    5.68318547e-01  -2.50807993e-01  -4.18451943e-01   5.68318547e-01
    1.63131927e-01   3.02006135e-02  -5.35532369e-01   5.68318547e-01
    2.97742193e-01  -1.79798237e-01  -4.33662740e-01  -1.79798237e-01
   -2.29480481e-01   2.17137042e-01  -1.09800390e-02  -2.50807993e-01
   -1.79798237e-01  -2.57575665e-01   2.97742193e-01   5.68318547e-01
   -1.79798237e-01  -3.79619935e-01  -2.50807993e-01   1.34877075e-02
   -7.71850721e-01   5.36935118e-01   5.69881155e-01  -2.96136095e-01
    3.73213188e-01  -1.38336233e-01  -4.94282124e-01]
 [ -9.41787795e-01  -3.30863278e-01  -5.22007874e-03  -3.06596880e-01
   -3.78850386e-01  -2.98775009e-01   7.55385270e-01  -1.18926804e-01
   -2.17909495e-01  -1.19648006e-01   4.07140251e-01  -2.19503415e-01
   -2.40971705e-01  -1.18926804e-01  -1.19953477e-01  -2.82627608e-01
   -1.18926804e-01  -6.35525449e-01   5.61119911e-01  -2.55397780e-01
    5.74668905e-01  -2.19503415e-01  -1.93312617e-01  -3.81239110e-01
   -2.19503415e-01  -3.14116906e-01  -1.18926804e-01  -3.63913792e-01
   -1.93312617e-01  -9.84541369e-01  -2.19503415e-01   4.77674109e-01
   -2.17909495e-01  -1.94779226e-01   1.63065617e+00  -2.19503415e-01
   -1.18926804e-01  -1.18926804e-01   4.82211103e-01  -1.18926804e-01
   -7.41460520e-01  -6.49929826e-02  -3.81239110e-01  -1.18926804e-01
   -2.82627608e-01   6.08372471e-01   4.14370876e-01   6.08372471e-01
    6.43661954e-01   8.54934103e-01  -8.15658336e-02  -1.18926804e-01
    6.08372471e-01   6.06276843e-01  -2.82627608e-01  -1.18926804e-01
   -2.19503415e-01   4.52085274e-01  -1.18926804e-01   7.47981811e-03
    1.06905804e+00   1.08296476e-02   1.01755853e+00   4.77674109e-01
    3.12061313e-01   6.48509725e-01   8.34588696e-01]
 [ -3.72982200e-01  -3.06008535e-01  -7.43626345e-01   3.61085726e-01
   -5.63518953e-01  -6.44667336e-02  -2.66502314e-01  -2.66502314e-01
    2.45246657e-01  -3.47930149e-01  -9.07980993e-02  -1.95374571e-01
   -2.67443201e-01  -2.66502314e-01   6.02480260e-01   2.63868269e-01
    5.49060614e-01  -4.41060575e-01  -2.32040255e-01   6.79409897e-01
    2.45246657e-01   6.40878258e-01  -2.47613574e-01   6.71213007e-01
   -1.95374571e-01  -7.87128012e-01   5.49060614e-01   3.36432881e-01
   -2.47613574e-01   2.17202225e-01  -1.95374571e-01  -1.21170019e-01
    2.45246657e-01   6.25053046e-01  -1.13740825e+00  -1.95374571e-01
   -2.66502314e-01  -2.66502314e-01   2.63868269e-01  -2.66502314e-01
    1.38113226e-01   5.42934774e-01   1.24748887e+00  -2.66502314e-01
    2.63868269e-01  -1.95374571e-01   4.47339304e-01  -1.95374571e-01
   -2.47613574e-01  -8.45211085e-01   4.02757433e-01   5.49060614e-01
   -1.95374571e-01  -1.60689099e-01   2.63868269e-01  -2.66502314e-01
   -1.95374571e-01  -4.04867333e-01   5.49060614e-01   4.65746679e-01
   -6.84544093e-01  -2.72359329e-01  -9.93101453e-01  -1.21170019e-01
   -8.71818934e-01  -1.17787088e-01  -4.74092576e-01]]

# Evaluate the accuracy, AUC, precision and recall of the model.
# Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

Firstly, I could not figure out how to create an AUC-ROC curve and get the score of a multiclass regression.  Everything I found in the documentation stated that it is meant for binarized response variables and got overly complicated when it came to multiclass response variables.  Given more time, I would like to figure this out.  I'm turning this in as is, but would like to revisit it when my wife is not visiting and I can have more time to play with it.

Overall, I would say that the accuracy, precision, and recall of my model are pretty good.  Recall is the number of positive predictions divided by the number of true positive values in the class.  A high recall rate in this scenario would be useful in a situation where you you are not worried about making an incorrect prediction but want to make sure that you catch all positives.  This could matter when you are mostly worried about getting everyone a high salary that deserves it at the expense of giving people who don't deserve it high salaries as well.  Precision is the number of predicted positives divided by the number of true and false positives.  A high precision model in the this scenario would be useful for when you want to keep the number of false positives at a minimum.  This could mean that you wouldn't make a bad prediction and give someone too high of a salary.

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [865]:
## YOUR CODE HERE
logreg = LogisticRegression(C=1.0, penalty='l1', solver='liblinear')
logreg.fit(X, y)
y_pred = logreg.predict(X)
print 'coefficients:', logreg.coef_
print(classification_report(y, y_pred))
print pd.DataFrame(confusion_matrix(y, y_pred), index=['is_very_low','is_low', 'is_high', 'is_very_high'],
                   columns=['pred_very_low','pred_low', 'pred_high', 'pred_very_high'])

coefficients: [[-0.98937529  0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          1.20684745
   0.          0.          0.          0.          0.73615163  0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.93244866  0.          0.          0.          0.
  -0.12419087  0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.         -0.42475248  0.
  -0.21292336 -1.1077494   0.          0.         -0.39754342  0.        ]
 [-0.79929861  1.04096929  0.          0.          0.44028763  0.          0.
   0.          0.          0.          0.          0.         -0.6666716
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.37306983
   0.          0.          0.          0.          0.          0.          0.
   0.         -0.62106861  0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
  -0.58033187  0.22348355  0.33313647  0.          0.          0.
  -0.48334127]
 [-1.10037235  0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.          0.
   0.         -0.789675    0.          0.          0.          0.
   1.93865839  0.          0.          0.          0.          0.
  -0.2425177   0.          0.          0.          0.          0.          0.
   0.          0.          0.81965068  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.94882906  0.          1.12161562  0.          0.          0.44320397
   0.78300785]
 [ 0.          0.         -0.51200915  0.         -0.33341194  0.          0.
   0.          0.          0.          0.          0.         -0.11866459
   0.          0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.1367237   0.         -0.56766972
   0.          0.          0.          0.          0.          0.          0.
   0.         -1.34800702  0.          0.          0.          0.          0.
   0.          0.          1.53307953  0.          0.          0.          0.
   0.          0.         -0.7242059   0.11474755  0.          0.          0.
   0.          0.          0.          0.          0.          0.19707227
  -0.72571688 -0.11498044 -1.00269329  0.         -0.68183496  0.
  -0.36875547]]
             precision    recall  f1-score   support

       high       0.60      0.36      0.45        42
        low       0.45      0.39      0.41        44
  very_high       0.61      0.51      0.56        43
   very_low       0.41      0.72      0.53        40

avg / total       0.52      0.49      0.49       169

              pred_very_low  pred_low  pred_high  pred_very_high
is_very_low              15         8          5              14
is_low                    3        17          7              17
is_high                   4         7         22              10
is_very_high              3         6          2              29

In [866]:
## YOUR CODE HERE
logreg = LogisticRegression(C=1.0, penalty='l2', solver='liblinear')
logreg.fit(X, y)
y_pred = logreg.predict(X)
print 'coeficients:', logreg.coef_
print(classification_report(y, y_pred))
print pd.DataFrame(confusion_matrix(y, y_pred), index=['is_very_low','is_low', 'is_high', 'is_very_high'],
                   columns=['pred_very_low','pred_low', 'pred_high', 'pred_very_high'])

coeficients: [[ -5.25684482e-01  -3.83787316e-01   4.27261873e-01   3.91867510e-01
    1.81174527e-01  -1.00797502e-01  -2.19157848e-01   6.08848742e-01
    3.40972552e-01  -1.37485589e-01  -1.00614814e-01   6.09558934e-01
    1.18529770e+00  -2.19157848e-01  -1.72421771e-01  -3.36010181e-01
   -2.19157848e-01   8.89927730e-01  -1.43522358e-01  -2.27436709e-01
   -3.84404718e-01  -2.18622322e-01   6.93712707e-01   1.40369745e-01
   -2.18622322e-01   3.81295096e-01  -2.19157848e-01   4.07465017e-01
   -1.58446145e-01   9.66498604e-01   6.09558934e-01  -9.33845107e-02
   -3.84404718e-01  -1.21571146e-01  -3.43278602e-01  -2.18622322e-01
   -2.19157848e-01   6.08848742e-01  -3.36010181e-01  -2.19157848e-01
    2.81390265e-01  -5.27244857e-01  -5.16874398e-01  -2.19157848e-01
   -3.36010181e-01  -2.18622322e-01  -3.83787316e-01  -2.18622322e-01
   -1.58446145e-01  -2.65820380e-01  -3.18992199e-01  -2.19157848e-01
   -2.18622322e-01  -1.71964711e-01  -3.36010181e-01  -2.19157848e-01
    6.09558934e-01   3.41543393e-01  -2.19157848e-01  -6.47464677e-01
    5.59625621e-02  -3.44691991e-01  -1.03494637e+00  -9.33845107e-02
   -1.48241985e-03  -4.60028767e-01  -3.71795868e-03]
 [ -4.21687770e-01   9.68947526e-01   2.88082645e-01  -4.59528451e-01
    6.11777261e-01   3.81848380e-01  -2.50807993e-01  -2.50807993e-01
   -4.35483957e-01   5.65637111e-01  -2.62901239e-01  -1.79798237e-01
   -8.03710860e-01   5.68318547e-01  -3.43062211e-01   2.97742193e-01
   -2.50807993e-01   2.15918156e-01  -1.48068850e-01  -1.46542112e-01
   -4.35483957e-01  -1.79798237e-01  -2.29480481e-01  -5.35532369e-01
    6.62612818e-01   6.65448823e-01  -2.50807993e-01  -3.61541357e-01
    5.95367818e-01  -3.70661773e-01  -1.79798237e-01  -2.96136095e-01
    2.76219317e-01  -3.18014698e-01  -7.34234714e-01   6.62612818e-01
    5.68318547e-01  -2.50807993e-01  -4.18451943e-01   5.68318547e-01
    1.63131927e-01   3.02006135e-02  -5.35532369e-01   5.68318547e-01
    2.97742193e-01  -1.79798237e-01  -4.33662740e-01  -1.79798237e-01
   -2.29480481e-01   2.17137042e-01  -1.09800390e-02  -2.50807993e-01
   -1.79798237e-01  -2.57575665e-01   2.97742193e-01   5.68318547e-01
   -1.79798237e-01  -3.79619935e-01  -2.50807993e-01   1.34877075e-02
   -7.71850721e-01   5.36935118e-01   5.69881155e-01  -2.96136095e-01
    3.73213188e-01  -1.38336233e-01  -4.94282124e-01]
 [ -9.41787795e-01  -3.30863278e-01  -5.22007874e-03  -3.06596880e-01
   -3.78850386e-01  -2.98775009e-01   7.55385270e-01  -1.18926804e-01
   -2.17909495e-01  -1.19648006e-01   4.07140251e-01  -2.19503415e-01
   -2.40971705e-01  -1.18926804e-01  -1.19953477e-01  -2.82627608e-01
   -1.18926804e-01  -6.35525449e-01   5.61119911e-01  -2.55397780e-01
    5.74668905e-01  -2.19503415e-01  -1.93312617e-01  -3.81239110e-01
   -2.19503415e-01  -3.14116906e-01  -1.18926804e-01  -3.63913792e-01
   -1.93312617e-01  -9.84541369e-01  -2.19503415e-01   4.77674109e-01
   -2.17909495e-01  -1.94779226e-01   1.63065617e+00  -2.19503415e-01
   -1.18926804e-01  -1.18926804e-01   4.82211103e-01  -1.18926804e-01
   -7.41460520e-01  -6.49929826e-02  -3.81239110e-01  -1.18926804e-01
   -2.82627608e-01   6.08372471e-01   4.14370876e-01   6.08372471e-01
    6.43661954e-01   8.54934103e-01  -8.15658336e-02  -1.18926804e-01
    6.08372471e-01   6.06276843e-01  -2.82627608e-01  -1.18926804e-01
   -2.19503415e-01   4.52085274e-01  -1.18926804e-01   7.47981811e-03
    1.06905804e+00   1.08296476e-02   1.01755853e+00   4.77674109e-01
    3.12061313e-01   6.48509725e-01   8.34588696e-01]
 [ -3.72982200e-01  -3.06008535e-01  -7.43626345e-01   3.61085726e-01
   -5.63518953e-01  -6.44667336e-02  -2.66502314e-01  -2.66502314e-01
    2.45246657e-01  -3.47930149e-01  -9.07980993e-02  -1.95374571e-01
   -2.67443201e-01  -2.66502314e-01   6.02480260e-01   2.63868269e-01
    5.49060614e-01  -4.41060575e-01  -2.32040255e-01   6.79409897e-01
    2.45246657e-01   6.40878258e-01  -2.47613574e-01   6.71213007e-01
   -1.95374571e-01  -7.87128012e-01   5.49060614e-01   3.36432881e-01
   -2.47613574e-01   2.17202225e-01  -1.95374571e-01  -1.21170019e-01
    2.45246657e-01   6.25053046e-01  -1.13740825e+00  -1.95374571e-01
   -2.66502314e-01  -2.66502314e-01   2.63868269e-01  -2.66502314e-01
    1.38113226e-01   5.42934774e-01   1.24748887e+00  -2.66502314e-01
    2.63868269e-01  -1.95374571e-01   4.47339304e-01  -1.95374571e-01
   -2.47613574e-01  -8.45211085e-01   4.02757433e-01   5.49060614e-01
   -1.95374571e-01  -1.60689099e-01   2.63868269e-01  -2.66502314e-01
   -1.95374571e-01  -4.04867333e-01   5.49060614e-01   4.65746679e-01
   -6.84544093e-01  -2.72359329e-01  -9.93101453e-01  -1.21170019e-01
   -8.71818934e-01  -1.17787088e-01  -4.74092576e-01]]
             precision    recall  f1-score   support

       high       0.69      0.64      0.67        42
        low       0.65      0.59      0.62        44
  very_high       0.74      0.72      0.73        43
   very_low       0.58      0.70      0.64        40

avg / total       0.67      0.66      0.66       169

              pred_very_low  pred_low  pred_high  pred_very_high
is_very_low              27         5          3               7
is_low                    4        26          6               8
is_high                   2         5         31               5
is_very_high              6         4          2              28

L2 regularization outperformed L1 regularization.  This can be seen in the precision, recall, and f1-score results for each model.  L1 regularization brought many of the coefficients down to 0, effectively saying that those variables have no value as a predictor variable.  L2 regularization just brought the coefficients down to very small numbers, reducing their effect on the model, but not taking them out completely.

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

In [867]:
df['predicted'] = y_pred
very_high_jobs = df.ix[df['predicted'] == 'very_high'][['job','salary']]
print 'Top 10 highest paying jobs', '\n', very_high_jobs.sort_values('salary', ascending=False)[:10]
df.to_csv('Sals_w_Preds')

Top 10 highest paying jobs
                                                   job    salary
325  Scientist or Sr. Scientist Formulation Filling...  250000.0
44   Data Architect for Big Data Systems (VP) - Int...  212500.0
16   Senior Systematic Quantitative Analyst - Multi...  200000.0
10         Quantitative Researcher in Machine Learning  192500.0
3                                       Data Scientist  187200.0
61                        Senior Research Data Analyst  180000.0
73                 Senior Credit REIT Research Analyst  180000.0
8           Data Scientist / Lead Quantitative Analyst  175000.0
100                                     Data Scientist  160000.0
114                                     Data Scientist  160000.0

This is my report!  
https://docs.google.com/document/d/1FmT08kqMBDGWDAc_lqF29ZIODKy4_1EAPEOZ8i8lf80/pub

This is my presentation!  
https://docs.google.com/presentation/d/1aZyuqP-XDjQhHDPF4h4if2Qxbo1b2Jw3stRulctEFgo/pub?start=false&loop=false&delayms=60000

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [23]:
## YOUR CODE HERE

In [24]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [25]:
## YOUR CODE HERE